<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
      }
</style>
<div class='row'>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#/" class="brand-logo questrial title">Map Share</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class='thin btn-large deep-orange darken-4 waves-effect waves-light' href="#/profile">Profile</a></li>
        <li><a class='thin btn-large blue-grey darken-3 waves-effect waves-light' href="/" target='_self'>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class='row' ng-controller='roomsController'>

<div class='row col s12'>
  <div id='rooms' class='col s4 offset-s1'>
    <h4 class='questrial'>Your Rooms</h4>
    <ul>
      <li ng-repeat='room in rooms'>
        <a style='color: black; text-decoration: underline;' ng-href='#/room/{{room._id}}'><h5 class='questrial'><span class='questrial' ng-bind='room.name'></span></h5></a>
      </li>
    </ul>

  </div>
  <div id='addroom' class='col s4 offset-s2'>
    <h4 class='questrial'> Create a New Room</h4>
    <form ng-submit='addRoom()'>
      <div class='input-field'>
        <input type=text ng-model='newRoom.name'/>
        <label>Name</label>
      </div>
      <div class='input-field'>
        <button class='btn waves-effect waves-light' type='submit'>Create Room</button>
      </div>
    </form>
  </div>
</div>
</div>
